<h1>Http Service Demo</h1>

<div class="row" style="margin:5px;">
    <form class="col-xs-6">
        <div class="form-group">
            <label for="searchAddress">Address</label>
            <input class="form-control"
                    type="text" 
                    ng-model="searchAddress"
                    id="searchAddress">
        </div>
        <div class="form-group">
            <label for="searchPostal">Postal Code</label>
            <input class="form-control"
                    type="text" 
                    ng-model="searchPostal"
                    id="searchPostal">
        </div>
        <div style="text-align: center">
            <button class="btn btn-default" ng-click='findAddress()'>Search</button>  
        </div>
    </form>
    <div class="col-xs-6">
        <div ng-show="validAddress">
            <div class="alert alert-success">
                Address is Valid
            </div>
            <p>
            {{address}} <br/> 
            {{city}}, {{state}} {{postalCode}}
            </p>
        </div> <!--/ng-show-->
    </div> <!--/.col-xs-6-->
</div>
